*.pyd
*.pyc
*.mcf
*.egg-info
*.kate-swp
*.so
*.o
*~
*.bat
*.sublime-project
*.sublime-workspace
# ignorer tous les fichiers dans le répertoire build
Examples/alerte_jerome.py
build/
dist/
crappy.egg-info/
data/
Examples/open_log.py

