# Installs the Python dependencies, installs Crappy, and checks that it imports
name: Test Python Package

on:
  # Runs on pull requests targeting the default branches
  pull_request:
    types: [opened, edited, reopened, synchronize]
    branches: ["master", "develop"]

  # May also be started manually
  workflow_dispatch:

  # Runs automatically every first day of the month
  schedule:
    - cron: '0 12 1 * *'

jobs:
  test-python-package:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # Run on all the supported Python versions
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
        # Run on all the supported platforms
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    # Checkout the repository
    - name: Checkout
      uses: actions/checkout@v5
    # Set up the correct version of Python
    - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    # Install the build dependencies
    - name: Install dependencies
      run: python -m pip install --upgrade pip wheel build setuptools
    # Install the crappy Python module
    - name: Install Crappy
      run: python -m pip install .
    # Install the crappy Python module
    - name: Install test dependencies
      run: python -m pip install opencv-python scikit-image
    # Test common to all OS
    - name: Test Crappy (Common)
      run: python -m unittest -v tests.camera_configuration_tools
    # On Windows, a graphical environment is present by default
    # Running the tests requiring a graphical environment
    - name: Test Crappy Graphical (Windows)
      if: runner.os == 'Windows'
      run: python -m unittest -v tests.camera_configuration
    # On Linux, the Xvfb virtual X server can be used
    # Running the tests requiring a graphical environment
    - name: Test Crappy Graphical (Linux)
      if: runner.os == 'Linux'
      run: |
        export DISPLAY=:99
        Xvfb :99 -screen 0 1920x1080x24 & python -m unittest -v tests.camera_configuration
    # On macOS, it is not possible to set up a virtual graphical environment
    # Therefore, not all automated tests can be run on macOS
